<!-- Navigation -->
<html>
    <head>
        <link rel="stylesheet" href="nav-bar.component.css" />
    </head>
    <body>
        <nav class="bg-gray-800 p-2 mt-0 fixed w-full z-10 top-0">
            <div class="container mx-auto flex flex-wrap items-center">
                <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
                    <a class="text-white no-underline hover:text-white hover:no-underline" href="home">
                        Andreas Steffensen
                    </a>
                </div>
                <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
                    <a class="text-white no-underline hover:text-white hover:no-underline" href="Github">
                        Github
                    </a>
                </div>
                <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
                    <a class="text-white no-underline hover:text-white hover:no-underline" href="Skills">
                        Skills
                    </a>
                </div>
            </div>
        </nav>
    </body>
</html>